---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<h1>{{page.title}}</h1>

<!-- Staff -->

<h2><a id="staff"></a>Staff</h2>
{% assign members = site.pages | sort: 'title' %}
{% for member in members %}
    {% if member.path contains 'team/' and member.category == 'staff' %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href="{{ site.baseurl }}{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}

<!-- Students -->

<h2><a id="student"></a>Students</h2>
{% assign members = site.pages | sort: 'title' %}
{% for member in members %}
    {% if member.path contains 'team/' and member.category == 'student' %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href="{{ site.baseurl }}{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>

    {% endif %}
{% endfor %}

<!-- Past Members -->

<h2><a id="past"></a>Past Members</h2>
{% assign members = site.pages | sort: 'title' %}
{% for member in members %}
    {% if member.path contains 'team/' and member.category == 'past' %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href="{{ site.baseurl }}{{ member.url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}
